/* ====================== VARS ====================== */
:root {
	--bg1: #b9d9c3;
	--fg1: #222;

	--bg2: #6E2700;
	--fg2: #ddd;

	--bg3: #fbcb7b;
	--fg3: #222;

	--bg4: #E84E0F;
	--fg4: #fff;

	--bg5: #fff;
	--fg5: #222;

	--action: #E84E0F;
	--action-fg: #000;

	--gridGap: 8px;
}

/* ====================== BASICS ====================== */
html {
	height: 100%;
}
body {
	margin: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.3;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: var(--fg1);
	background: var(--bg1);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}


:focus {
	outline: 3px dotted var(--fg1);
	outline-offset: 3px;
}
:focus:not(:-moz-focusring) {
	outline: none;
}
:focus:not(:focus-visible) {
	outline: none;
}
[tabIndex]:focus {
	animation: focus 2s forwards linear;
}
@keyframes focus {
	from {
		outline-color: var(--fg);
	}
	to {
		outline-color: transparent;
	}
}

::selection {
	background-color: rgba( 251, 61, 0, 0.99 );
	color: var(--action-fg);
}

a,
a:hover,
a:visited {
	color: var(--fg1);
}
a:hover,
a:focus {
	text-decoration: underline;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect( 0, 0, 0, 0 );
	border: 0;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* ====================== SECTION ====================== */
.section {
	padding: 4rem 1rem;
}
.section-mint {
	background: var(--bg1);
	color: var(--fg1);
}
.section-braun {
	background: var(--bg2);
	color: var(--fg2);
}
.section-braun a {
	color: var(--fg2);
}
.section-gelb {
	background: var(--bg3);
	color: var(--fg3);
}
.section-orange {
	background: var(--bg4);
	color: var(--fg4);
}
.section-weiss {
	background: var(--bg5);
	color: var(--fg5);
}
.section-content {
	max-width: 42em;
	margin: 0 auto;
	font-size: 1.2rem;
}
.section-content img {
	max-width: 500px;
}
.section-headline {
	text-transform: uppercase;
	font-size: 2rem;
}
.section-body {
	margin-top: 3rem;
}

/* ====================== HEADER ====================== */
.top {
	overflow: hidden;
	padding: 2rem;
}
.top-icon {
	float: left;
	width: 1px;
}
.top-icon svg {
	width: 8rem;
	height: 5rem;
}
.top-nav {
	float: right;
}
.top-nav li {
	display: inline-block;
}
.top-nav li + li {
	margin-left: 1rem;
}

.header.section {
	padding-bottom: 8vw;
	padding-top: 1rem;
}
.header .headline {
	font-family: 'Krub', sans-serif;
	font-weight: 700;
	font-size: 5.7vw;
	margin: 1rem 0;
}
.header-body,
.header-icon,
.header .btn {
	vertical-align: bottom;
}
.header-icon {
	margin-top: 5rem;
	height: 6vw;
	width: 15vw;
}

/* ====================== BUTTON ====================== */
.btn,
a.btn {
	display: inline-block;
	appearance: none;
	border: none;
	background: var(--bg3);
	font-size: 1.2rem;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--fg3);
	cursor: pointer;
	text-decoration: none;
}
.btn:hover {
	color: var(--action-fg);
	text-decoration: underline;
}
.btn:disabled,
.btn:disabled:hover {
	opacity: 0.5;
	cursor: not-allowed;
	text-decoration: none;
}
.btn--lg {
	min-width: 14.3rem;
}

/* ====================== PARTIAL ====================== */
.partial {
	max-width: 42em;
	margin: 0 auto;
	padding: 1rem 0;
	font-size: 1.2rem;
}
.partial p:first-child,
.partial-top p {
	margin: 0;
}
.partial-left,
.partial-top {
	text-align: left;
}
.partial-top {
	padding: 0;
}
.partial img {
	max-width: 100%;
	width: 150px;
	display: block;
	margin: 0 auto;
}
.partial h2 {
	font-size: 2rem;
}
.section-referenzen {
	padding-bottom: 3rem;
}

/* ====================== FOOTER ====================== */
footer:not(:empty) {
	background: var(--bg5);
	color: var(--fg5);
	padding: 3rem 1rem 1rem 1rem;
	padding-bottom: 5rem;
}

/* ====================== SIDE ====================== */
.header-side {
	display: none;
	position: fixed;
	top: 50%;
	right: 0;
	border: 3px solid #fff;
	border-right: none;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	background-color: rgba( 255, 255, 255, 0.9);
	padding: 0.5rem 1rem;
	text-align: right;
}
.header-side li a {
	position: relative;
	display: block;
	padding: 0.5rem 0.5rem 0.5rem 0;
	font-size: 1.1rem;
	text-transform: uppercase;
	text-decoration: none;
}
.header-side svg {
	width: 2rem;
	height: 2rem;
}
.header-side li a:after {
	content: " ";
	position: absolute;
	right: -0.5rem;
	top: 1rem;
	background: #222;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.header-side li a.is-scrolledto:after {
	opacity: 1;
}
@media (min-width: 1000px) and (min-height: 500px) {
	.header-side {
		display: block;
	}
}

/* ====================== REFERENCES ====================== */
.references {
	display: grid;
	grid-template-columns: repeat( 1, [col-start] 1fr );
	grid-gap: 0.5rem;
	grid-row-gap: 3rem;
	max-width: 1400px;
	margin: 4rem auto 0 auto;
}
.references svg,
.references img {
	width: 150px;
	height: auto;
}
@media (min-width: 550px) {
	.references {
		grid-template-columns: repeat( 2, [col-start] 1fr );
	}
}
@media (min-width: 700px) {
	.references {
		grid-template-columns: repeat( 3, [col-start] 1fr );
	}
}
@media (min-width: 1000px) {
	.references {
		grid-template-columns: repeat( 4, [col-start] 1fr );
	}
}

/* ====================== LOCATION ====================== */
.section-content.location {
	line-height: 1.5;
}
.texticon {
	height: 1rem;
	width: 2rem;
}

/* ====================== EXPAND ====================== */
.expand-wrapper {
	display: block;
	margin-top: 2rem;
	max-width: 1400px;
	margin: 0 auto;
}
.expand-col img {
	display: none;
	max-width: 100%;
}
.section-gelb .expand-button {
	background: var(--bg2);
	color: var(--fg2);
}
.expand-col {
	margin-top: 1rem;
}
.expand-body {
	overflow: hidden;
	font-size: 1.2rem;
	height: 0;
	max-width: 42em;
	margin: 1rem auto 0 auto;
}
@media (min-width: 950px) {
	.expand-wrapper {
		display: grid;
		grid-template-columns: repeat( 3, [col-start] 1fr );
		grid-gap: 2rem;
	}
	.expand-col img {
		display: block;
		margin-bottom: 2rem;
	}
}
