/* ====================== HEADER ====================== */
.top {
	overflow: hidden;
	padding: 2rem;
}
.top-icon {
	float: left;
	width: 1px;
}
.top-icon svg {
	width: 8rem;
	height: 5rem;
}
.top-nav {
	float: right;
}
.top-nav li {
	display: inline-block;
}
.top-nav li + li {
	margin-left: 1rem;
}

.header.section {
	padding-bottom: 16vw;
	padding-top: 1rem;
}
.header .headline {
	font-family: 'Krub', sans-serif;
	font-weight: 700;
	font-size: 11.7vw;
	margin: 1rem 0;
}
.header-body,
.header-icon,
.header .btn {
	vertical-align: bottom;
}
.header-icon {
	margin-top: 5rem;
	height: 11vw;
	width: 30vw;
}

/* ====================== BUTTON ====================== */
.btn,
a.btn {
	display: inline-block;
	appearance: none;
	border: none;
	background: var(--action);
	font-size: 1.2rem;
	padding: 1rem 2rem;
	border-radius: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--action-fg);
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}
.btn:hover {
	color: var(--action-fg);
	text-decoration: underline;
}
.btn:disabled,
.btn:disabled:hover {
	opacity: 0.5;
	cursor: not-allowed;
	text-decoration: none;
}

/* ====================== PARTIAL ====================== */
.partial {
	max-width: 42em;
	margin: 1rem auto 10rem auto;
}
.partial img {
	max-width: 100%;
	width: 150px;
	display: block;
}
.partial h2 {
	text-align: center;
}

/* ====================== FOOTER ====================== */
footer {
	background: var(--bg5);
	color: var(--fg5);
	padding: 3rem 1rem 1rem 1rem;
	text-align: center;
	padding-top: 25rem;
	padding-bottom: 5rem;
}

/* ====================== SIDE ====================== */
.header-side {
	display: none;
	position: fixed;
	top: 50%;
	right: 0;
	border: 3px solid #fff;
	border-right: none;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	background-color: rgba( 255, 255, 255, 0.9);
	padding: 0.5rem 1rem;
	text-align: right;
}
.header-side li a {
	position: relative;
	display: block;
	padding: 0.5rem 0.5rem 0.5rem 0;
	font-size: 1.1rem;
	text-transform: uppercase;
	text-decoration: none;
}
.header-side svg {
	width: 2rem;
	height: 2rem;
}
.header-side li a:after {
	content: " ";
	position: absolute;
	right: -0.5rem;
	top: 1rem;
	background: #222;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.header-side li a.is-scrolledto:after {
	opacity: 1;
}
@media (min-width: 1000px) and (min-height: 500px) {
	.header-side {
		display: block;
	}
}

/* ====================== REFERENCES ====================== */
.references {
	display: grid;
	grid-template-columns: repeat( 1, [col-start] 1fr );
	grid-gap: 0.5rem;
	grid-row-gap: 3rem;
	text-align: center;
	margin-top: 3rem;
}
.references svg,
.references img {
	width: 150px;
	height: auto;
}
@media (min-width: 400px) {
	.references {
		grid-template-columns: repeat( 2, [col-start] 1fr );
	}
}
@media (min-width: 550px) {
	.references {
		grid-template-columns: repeat( 3, [col-start] 1fr );
	}
}

/* ====================== LOCATION ====================== */
.section-content.location {
	text-align: center;
	line-height: 1.5;
}
@media (min-width: 900px) {
	.location {
	}
}
